name: Learning Github Actions
on:
  push:
    branches: 
    - main
jobs: 
  github-action-job:
    name: Run Github Action Jobs
    runs-on: 'ubuntu-latest'
    steps: 
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 1.8
        uses: actions/setup-java@v3
        with: 
          java-version: '8'
          distribution: 'temurin'
      - name: Build
        run: |
          mvn clean compile
      - name: Test
        run: |
          mvn test
